$color-blue: #6528F7;
$color-dark-purple: #A076F9;
$color-purple: #D7BBF5;
$color-light-purple: #EDE4FF;


//BREAKPOINTS

$breakpoint1600: 1600px;
$breakpoint1400: 1400px;
$breakpoint960: 960px;
$breakpoint720: 720px;
$breakpoint576: 576px;